@keyframes slideInFromBottom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  html {
    scroll-behavior:smooth;
  }

/* Body styles */
body {
    background-color: #1f1f1f;
    color: #c1c1c1;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
    background: #333;
    padding: 30px;
    background-color: #140202;
    background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
}

/* Header styles */
header {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10%;
}

h1 {
    font-size: 500%;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #75060633;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: rgb(17, 17, 17);

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
  justify-content: space-between;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: #fc0000;
}

nav a {
    text-decoration: none;
    color: #d8c9c9;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(10, 10, 10);
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    transition: 0.3s;
    transition-delay: 5ms;
    font
}

nav a:hover {
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10%;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgba(255, 0, 0, 0);
}

#beliefs{
    margin-top: -3%;
    text-align: center;
}
/* Main content styles */
main {
    padding: 20px;
    
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 36px;
    margin: 0 0 20px;
}

p {
    font-size: 20px;
    margin: 0 0 20px;
}

/* Form styles */
label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #ad8d8d;
    border: none;
    color: #c1c1c1;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

input[type="submit"] {
    background-color: #3d3d3d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #ff4040;
}
